* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  width: 100vw;
  height: 100%;
  padding: 10px;
}

.box {
position: relative;
width: 400px;
height: 400px;
margin: auto;
margin-bottom: 10px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
box-shadow: 2px 2px 8px #808080;
}

.layover{
  background-color: rgba(0, 0, 0, 0.3);
}

.rome{
  background-image: url(../img/rome.jpg);
}

.copenaghen{
  background-image: url(../img/copenaghen.jpg);
}

.tokyo{
  background-image: url(../img/tokyo.jpg);
}

h2 {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #FFFFFF;
  font-family: sans-serif;
}

.rome h2{
  font-family: Slabo;
}

.copenaghen h2 {
  font-family: Oswald;
}
.tokyo h2 {
  font-family: Roboto;
}
